{# Import the theme's layout. #}
{% extends "!layout.html" %}

{# Add some extra stuff before and use existing with 'super()' call. #}
{% block extrahead %}
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ pathto('_static/megam.css', 1) }}" type="text/css" />
    <script type="text/javascript" src="{{ pathto('_static/megam.js', 1) }}"></script>
  {{ super() }}
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <p>
      Copyright 2013-2014 &copy; Megam (gomegam.com). All Rights Reserved. Please send comments to the <a href="mailto:gomegam@megam.co.in">webmaster</a>. This site is hosted by <a href="http://www.gomegam.com">Megam Systems</a>.
      </p>
    </div>
  </footer>
{% endblock %}
